.btn-outline {
    border: 2px solid #a66cee;
    color: #a66cee;
    background: transparent;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
}

.btn-center {
    display:flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.btn-primary {
    background-color: #FFFFFF;
    color:#a66cee
}

.btn-primary:hover{
    background-color: #9c54f4;
    color:#FFFFFF
}

.section{
    margin-top: 50px;
    padding: 30px;
    background-color:#FFFFFF;
    border-radius: 14px;
    border: 3px soild #9c54f4;
    
}

.ghhq{ background-color: #FFFFFF;
       border:2px solid #a66cee;
       padding: 2px;
       border-radius: 14px;
       cursor: pointer;
       font-size: 20px;
       font-weight: 600;
       text-align: center;
       width: 280px;
       min-height: 120px;
       display:flex;
       align-items: center;
       justify-content: center;
  }

.ghhq:hover {
    background-color: #9c54f4;
    color:#FFFFFF

}



.ghhq-center {
    
    
    display: flex;
    justify-content:center;
    gap: 30px;
    
    margin-top: 30px;
    flex-wrap: wrap;
}

.ccht {
    border-left: 2px solid #9c54f4;
    border-top: 2px solid #9c54f4;
    border-bottom: none;
    border-right: none;
    padding: 2px;
       border-radius: 14px;
       cursor: pointer;
       font-size: 20px;
       font-weight: 600;
       text-align: center;
       width: 280px;
       min-height: 120px;
       display:flex;
       align-items: center;
       justify-content: center;
        background-color: #FFFFFF;
    
}
.ccht:hover {
    background-color: #9c54f4;
    color:#FFFFFF
}

.ccht-center {
    display: flex;
    justify-content:center;
    gap: 30px;
    
    margin-top: 30px;
    flex-wrap: wrap;
}

.knvdh {
    border-right: 2px solid #9c54f4;
    border-bottom: 2px solid #9c54f4;
    border-top: none;
    border-left: none;
    padding: 2px;
       border-radius: 14px;
       cursor: pointer;
       font-size: 20px;
       font-weight: 600;
       text-align: center;
       width: 280px;
       min-height: 120px;
       display:flex;
       align-items: center;
       justify-content: center;
        background-color: #FFFFFF;
    flex-direction: column;
    gap:12px;
    font-size: 20px;

}
.knvdh:hover {
    background-color: #9c54f4;
    color:#FFFFFF;
}
.knvdh-center {
    display: flex;
    justify-content:center;
    gap: 30px;
    
    margin-top: 30px;
    flex-wrap: wrap;

}